@model FiyakaliOlsun.Models.Musteri


<div class="container" >
    <br />
    <h3 class="tab-nav">Kayıt Formu</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.KullaniciAdi)
        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    </div>
        <div class="form-group">
            @Html.LabelFor(x => x.AdSoyad)
            @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Parola)
            @Html.PasswordFor(x => x.Parola, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.email)
            @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Tel)
            @Html.TextBoxFor(x => x.Tel, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Adres)
            @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="product-label" for="DogumTarihi"></label>
            <div class="form-group">
                @Html.LabelFor(x => x.DogumTarihi)
                @Html.TextBoxFor(model => model.DogumTarihi, new { @class = "form-control input-md datepicker", placeholder = "Gün/Ay/Yıl olarak giriniz." })

            </div>
        </div>
        <input type="submit" value="Kaydet" class="primary-btn" />
        <button class="main-btn quick-view"><i class="fa header-btns"></i>@Html.RouteLink("İptal", "Home")</button>
    }
</div>