@model FiyakaliOlsun.Areas.Admin.ViewModels.PostIndex
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>-Fiyakali Admin-</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Ürünler</h1>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Ürün Ekle</a>
        </div>
        <div class="btn-group pull-right">
            @if (Model.Posts.HasPreviousPage)
            {
                <a href="@Url.Action("index",new { page=Model.Posts.PreviousPage})" class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Önceki Sayfa
                </a>
            }
            else
            {
                <a href="#" class="btn btn-default disabled btn-sm">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                   Önceki Sayfa
                </a>
            }
            @if (Model.Posts.HasNextPage)
            {
                <a href="@Url.Action("index",new { page=Model.Posts.NextPage})" class="btn btn-primary btn-sm">

                    Sonraki Sayfa <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
            else
            {
                <a href="#" class="btn btn-default disabled btn-sm">

                    Sonraki Sayfa <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Ürün Resim</th>
                    <th>Fiyat</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>@post.UrunAdi</td>
                        <td>@post.UrunResim</td>
                        <td>@post.Fiyat</td>
                        <td>@post.Aciklama</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
  </div>
</body>
</html>