@model FiyakaliOlsun.Areas.Admin.ViewModels.DefaultEdit
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Edit User @Model.Username </h1>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
            </div>

            <input type="submit" value="Update User" class="btn btn-primary" />
            <a href="@Url.Action("Home")">or cancel</a>
        }
    </div>


</body>
</html>
