@model FiyakaliOlsun.Areas.Admin.ViewModels.DefaultHome

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>-Fiyakali Admin-</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Kullanıcılar</h1>
        <a href="@Url.Action("Kayit")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Kullanıcı oluştur</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var admin in Model.Kullanici)
                {
                    <tr>
                        <td>@admin.Id</td>
                        <td>@admin.KullaniciAdi</td>
                        <td>@admin.email</td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("Edit",new { admin.Id } )" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                                <a href="@Url.Action("ResetPassword",new { admin.Id } )" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-lock"></i>Reset Password</a>
                                <a href="@Url.Action( )" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</body>
</html>