@model FiyakaliOlsun.ViewModels.AuthKayit

<!DOCTYPE html>
<html lang="en">

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header"><br /></div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(x => x.AdSoyad)
                        @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control", @placeholder = "Enter AdSoyad" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Tel)
                        @Html.TextBoxFor(x => x.Tel, new { @class = "form-control", @placeholder = "Enter Tel" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Adres)
                        @Html.TextAreaFor(x => x.Adres, new { @class = "form-control", @placeholder = "Enter Adres" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.DogumTarihi)
                        @Html.TextBoxFor(x => x.DogumTarihi, new { @class = "form-control", @placeholder = "Enter DogumTarihi" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Username)
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Enter Username" })
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Password)
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                        </div>
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary btn-block" />
                }
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Giris", "Giris")">Login Page</a>
                </div>
            </div>
            </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
